<!-- <button type="button" routerLink="/customers">Customers</button>
<button type="button" routerLink="/bank-account">Bank Account</button>
<router-outlet></router-outlet> -->
<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo">Bank Application</div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item routerLink="/customers">All Customers</li>
            <li nz-menu-item>Add Customer</li>
          </ul>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="bank" nzTheme="outline"></span>
          <span routerLink="/bank-account">Accounts</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      </nz-header>
      <nz-content>
        <!-- <nz-breadcrumb>
          <nz-breadcrumb-item></nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Bank Application</nz-footer>
    </nz-layout>
  </nz-layout>